<div class="container">
  <div class="logo">
    <a routerLink=""><p>Stack<span>Overflow</span></p></a>
  </div>
  <div class="content">
    <div class="top-content">
      <div class="total-questions">
        <p>Total Questions</p>
        <p class="number">15</p>
      </div>

      <div class="profile-img">
        <img src="../../assets/images/profile.png" alt="profile">
        <p>Jane Doe</p>
      </div>

      <div class="total-answers">
        <p>Total Answers</p>
        <p class="number">30</p>
      </div>
    </div>

    <div class="btns">
      <button><a routerLink="">All</a></button>
      <button><a routerLink="">Most Answers</a></button>
      <button><a routerLink="">Recent</a></button>
    </div>

    <div class="bottom-content">
      <div class="data">
        <p>How to send emails using Nodemailer.</p>
      </div>
      <div class="data">
        <p>How to send emails using Nodemailer.</p>
      </div>
      <div class="data">
        <p>How to send emails using Nodemailer.</p>
      </div>
      <div class="data">
        <p>How to send emails using Nodemailer.</p>
      </div>
      <div class="data">
        <p>How to send emails using Nodemailer.</p>
      </div>
      <div class="data">
        <p>How to send emails using Nodemailer.</p>
      </div>
    </div>
  </div>
</div>