<div class="container">
  <div class="content">
    <div class="logo">
      <p>Stack<span>Overflow</span></p>
    </div>

    <div class="formGroup">
      <form [formGroup]="form" (ngSubmit)="submitForm()" >

        <div class="formControl">
          <label for="email">Email</label>
          <input type="email" id="email" required name="email" formControlName="email" />
          <span class="error" *ngIf="form.get('email')?.invalid && form.get('email')?.touched" >
            <span class="error" *ngIf="form.get('email')!.errors!['required']" >Email is required</span>
            <span class="error" *ngIf="form.get('email')!.errors!['email']" >Invalid email</span>
          </span>
        </div>
    
        <div class="formControl">
          <label for="password" >Password</label>
          <input type="password" name="password" required formControlName="password" />
          <span class="error" *ngIf="form.get('password')?.invalid && form.get('password')?.touched">
            <span class="error" *ngIf="form.get('password')!.errors!['required']">Enter password</span>
          </span>
        </div>
    
        <div class="formControl">
          <button type="submit" class="btn" >LOGIN</button>
        </div>
    
          <div class="footer">
            <p>Don't have an account?<span><a routerLink="/signup" >Signup</a></span></p>
            <a href="#">Forgot Password?</a>
          </div>
      </form>
    </div>

  </div>
</div>
