<app-header></app-header>
<div class="container">
  <div>
    <p class="title">{{ question?.title }}</p>
  </div>
  <div class="description">
    <p>{{ question?.description }}</p>
  </div>
  <div>
    <p class="title answer">Answers</p>
    <div class="answer-div">
      <div class="answer-vote">
        <img src="../../assets/icons/upvote.svg" alt="upvote">
        <p>11</p>
        <img src="../../assets/icons/downvote.svg" alt="downvote">
      </div>
      <div class="answer-description">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer in nisi eget ex facilisis 
          tincidunt vitae a mi. Nulla sed nulla gravida, pulvinar felis faucibus, fermentum ex. 
          Duis et magna non justo vulputate dapibus.
        </p>
      </div>
    </div>
  </div>

  <div class="my-answer">
    <p class="title">Your Answer</p>
    <textarea name="my-answer"></textarea>
  </div>
</div>
