<div class="container">
  <div class="content">
    <div class="logo">
      <a routerLink=""><p>Stack<span>Overflow</span></p></a>
    </div>
    <div class="top-left">
      <a href="#">John Doe</a>
      <img src="../../assets/icons/logout-circle.svg" alt="">
    </div>
  </div>
  <div class="lower-content">
    <div>
      <input type="search" class="search" placeholder=" " >
    </div>
    <div class="question-btn">
      <button><a routerLink="ask-question">Ask Question</a></button>
    </div>
  </div>
</div>