<div class="container">
  <div class="content">
    <div class="logo">
      <p>Stack<span>Overflow</span></p>
    </div>

    <div class="formGroup">
      <form [formGroup]="form" (ngSubmit)="submitForm()" >
          <div class="formControl">
            <label for="name">Username</label>
            <input type="text" name="username" formControlName="username"  required />
            <span class="error" *ngIf="form.get('username')?.invalid && form.get('username')?.touched" >
              <span class="error" *ngIf="form.get('username')!.errors!['required']">Username is required</span>
            </span>
          </div>
      
          <div class="formControl">
            <label for="email">Email</label>
            <input type="email" autocomplete="email" required formControlName="email" />
            <span class="error" *ngIf="form.get('email')?.invalid && form.get('email')?.touched" >
              <span class="error" *ngIf="form.get('email')!.errors!['required']">Email is required</span>
              <span class="error" *ngIf="form.get('email')!.errors!['email']">Invalid email</span>
            </span>
          </div>
      
          <div class="formControl">
            <label for="password">Password</label>
            <input type="password" autocomplete="new-password" formControlName="password" />
            <span class="error" *ngIf="form.get('password')?.invalid && form.get('password')?.touched">
              <span class="error" *ngIf="form.get('password')!.errors!['required']">Password is required</span>
            </span>
          </div>
      
          <div class="formControl">
            <label for="confirm_password">Confirm Password</label>
            <input type="password" autocomplete="new-password" formControlName="confirm_password" />
            <span class="error" *ngIf="form.get('confirm_password')?.invalid && form.get('confirm_password')?.touched">
              <span class="error" *ngIf="form.get('confirm_password')!.errors!['required']">Confirm Password is required</span>
              <span class="error" *ngIf="form.get('confirm_password')!.errors!['passwordMatch']">Passwords do not match</span>
            </span>
          </div>
      
          <div class="formControl">
            <button type="submit" class="btn" [ngClass]="{invalid:!form.valid, valid:form.valid}" >SIGNUP</button>
          </div>
    
          <div class="footer">
            <p>Already have an account?<span><a routerLink="/login" >Login</a></span></p>
          </div>
      </form>
    </div>

  </div>
</div>
